<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="main-content" th:object="${item}">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Chi tiết sản phẩm</li>
								</ul>
							</nav>
							<h4 class="title">Chi tiết sản phẩm</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="product-area product-single-area">
			<div class="container pt-60 pb-0">
				<div class="row">
					<div class="col-12">
						<div class="product-single-item" data-margin-bottom="63">
							<div class="row">
								<div class="col-lg-5">
									<div class="product-thumb">
										<div class="zoom zoom-hover">
											<a class="lightbox-image" data-fancybox="gallery" th:src="@{|/assets/images/*{image}|}">
												<img class="m-auto d-block my-5" th:src="@{|/assets/images/*{image}|}">
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="product-single-info">
										<h4 class="title">[[*{name}]]</h4>
										<div class="prices">
											<span class="price">[[*{#numbers.formatDecimal(price,0,'POINT',3,'POINT')}]] VNĐ</span>
										</div>
										<div class="prices">Danh mục: [[*{category.name}]]</div>
										<div class="rating-box-wrap">
											<div class="rating-box">
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
											</div>
										</div>
										<div class=" mb-3">
											<strong class="text-dark mr-3">Sizes:</strong>
											<form class="d-flex">
												<div class="form-check me-3 " ng-repeat="size in listSize">
													<input class="form-check-input" ng-model="selectedSize" type="radio" id="size-1" th:attr="ng-click=@{|showColor(size)|}" ng-value="size" name="size">
													<label class="form-check-label" for="size-1">{{size}}</label>
												</div>
											</form>
										</div>
										<div class="mb-3">
											<strong class="text-dark mr-3">Colors:</strong>
											<form class="d-flex">
												<div class="form-check me-3" ng-repeat="color in listColor" ng-model="color">
													<input class="form-check-input" type="radio" ng-value="color" th:attr="ng-click=@{|setColor(color)|}" name="color">
													<label class="form-check-label">{{color}}</label>
												</div>
											</form>

										</div>
										<div class="mb-3 col-auto">
											<label for="quantityInput" class="form-label">Quantity:</label>
											<input type="number" class="form-control" style="width: 70px" id="quantityInput" ng-model="selectedQuantity" min="1" ng-init="selectedQuantity = 1">

										</div>
										<div class="product-action-simple">
											<div class="product-wishlist">
												<a href="javascript:(0);" class="btn-wishlist" style="width: 200px">Thêm vào mục yêu thích</a>
											</div>
											<div class="payment-button">
												<a th:attr="ng-click=@{|cart.add(${id})|}" class="btn-payment">Thêm vào giỏ hàng</a>
											</div>
											<div class="social-sharing">
												<span>Share:</span>
												<div class="social-icons">
													<a href="javascript:(0);">
														<i class="fa fa-facebook"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-twitter"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-pinterest"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-google-plus"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-review-tabs-content">
							<ul class="nav product-tab-nav" id="ReviewTab" role="tablist">
								<li role="presentation">
									<a class="active" id="description-tab" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
								</li>
								<li role="presentation">
									<a id="reviews-tab" data-bs-toggle="pill" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
								</li>
							</ul>
							<div class="tab-content product-tab-content" id="ReviewTabContent">
								<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
									<div class="product-description">
										<p class="mb-0">BỘ SƯU TẬP 3RD ANNIVERSARY “ONE WORLD ONE LOVE” – ĐÁNH DẤU CỘT MỐC 3 NĂM THÀNH CÔNG CỦA THƯƠNG HIỆU LEVENTS Nổi tiếng nhất trong các thương hiệu thời trang streetwear
											dành cho giới trẻ thì không thể không nhắc đến Levents. Và trong những năm gần đây, tụi mình đã liên tục cho ra mắt những BST bức phá về chất lượng. Một trong số đó chính là BST 3RD
											ANNIVERSARY “ONE WORLD ONE LOVE” – Đánh dấu cột mốc 3 năm thành công của thương hiệu Levents.</p>
									</div>
								</div>
								<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
									<div class="product-review-content">
										<div class="review-content-header">
											<h3>Đánh giá của khách hàng</h3>
										</div>
										<div class="reviews-form-area show">
											<h4 class="title">Viết đánh giá</h4>
											<div class="reviews-form-content">
												<form action="#">
													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label for="for_name">Họ và tên</label>
																<input id="for_name" class="form-control" type="text" placeholder="Nhập tên của bạn">
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
																<label for="for_email">Email</label>
																<input id="for_email" class="form-control" type="email" placeholder="john.smith@example.com">
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-group">
																<label for="for_comment">Chủ đề</label>
																<textarea id="for_comment" class="form-control" placeholder="Viết chủ đề tại đây"></textarea>
															</div>
														</div>
														<div class="col-md-12">
															<div class="form-submit-btn">
																<button type="submit" class="btn-submit">Đăng bài đánh giá</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="product-area product-new-arrivals-area product-related-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 m-auto">
						<div class="section-title text-center">
							<h2 class="title">Các sản phẩm liên quan</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="swiper-container swiper-slide-gap product-slider-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" th:each="p:*{category.products}">
									<div class="product-item">
										<div class="inner-content">
											<div class="product-thumb">
												<a th:href="@{|/product/detail/${p.id}|}">
													<img class="product-item m-auto d-block" th:src="@{|/assets/images/${p.image}|}">
												</a>
											</div>
											<div class="product-desc">
												<div class="product-info">
													<h4 class="title">
														<a th:href="@{|/product/detail/${p.id}|}">[[${p.name}]]</a>
													</h4>
													<div class="prices">
														<span class="price">[[${#numbers.formatDecimal(p.price,0,'COMMA',3,'POINT')}]] VNĐ</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-button-prev">
								<i class="zmdi zmdi-chevron-left"></i>
							</div>
							<div class="swiper-button-next">
								<i class="zmdi zmdi-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


</body>
</html>