<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Đơn hàng của bạn</li>
								</ul>
							</nav>
							<h4 class="title">Thông tin đơn hàng</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-3" th:object="${order}">
			<div class="account-form-wrap" style="padding: 0; box-shadow: none;">
				<div class="login-form">
					<div class="bg-success text-white p-3">Thông tin đơn hàng</div>
					<div class="row mt-2 mx-2">
						<div class="form-group col-sm-4">
							<label class="form-label">Mã đơn hàng:</label>
							<input th:field="*{id}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<label class="form-label">Người mua:</label>
							<input th:field="*{account.username}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<label class="form-label">Ngày mua:</label>
							<input th:field="*{createDate}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-12">
							<label class="form-label">Địa chỉ</label>
							<input th:value="${order.tinh}+'-'+${order.huyen}+'-'+${order.xa}+'-'+${order.chitiet}" class="form-control" readonly>
						</div>
						
						<h4>Trạng thái:
						    <span class="text-success" th:switch="*{status}">
						        <span th:case="'CHOXULY'">CHỜ XỬ LÝ</span>
						        <span th:case="'DANGXULY'">ĐANG XỬ LÝ</span>
						        <span th:case="'HOANTHANH'">HOÀN THÀNH</span>
						        <span th:case="*">Trạng thái không xác định</span>
						    </span></h4>

					</div>
				</div>
			</div>
			<section class="product-area shopping-cart-area">
				<div class="row my-3">
					<div class="col-12">
						<div class="bg-success text-white p-3">Thông tin đơn hàng</div>
						<div class="shopping-cart-wrap">
							<div class="cart-table table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>ID</th>
											<th>Tên sản phẩm</th>
											<th>Giá</th>
											<th>Số lượng</th>
											<th>Size</th>
											<th>Màu</th>
											<th>Tổng</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="detail:*{orderDetails}" th:object="${detail}">
											<td class="align-middle price">[[*{product.id}]]</td>
											<td class="align-middle text-start">[[*{product.name}]]</td>
											<td class="align-middle price">[[*{#numbers.formatDecimal(price,0,'COMMA',3,'POINT')}]] VNĐ</td>
											<td class="align-middle">[[*{quantity}]]</td>
											<td class="align-middle">[[*{size}]]</td>
											<td class="align-middle">[[*{color}]]</td>
											<td class="align-middle price">[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',3,'POINT')}]] VNĐ</td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<h3 th:text="${order.account.username}"></h3>
			<a  th:if="${order.status == 'CHOXULY'}" th:attr="ng-click=@{'cancelOrder(\'' + ${order.account.username} + '\', ' + ${order.id} + ')'}" class="btn btn-danger pull-right my-2 mx-4">Hủy đơn hàng</a>
			<a th:href="@{/order/list}" class="btn-theme pull-right my-2">Quay lại đơn hàng của bạn</a>
		</div>
	</main>
</body>
</html>