
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>About</li>
								</ul>
							</nav>
							<h4 class="title">About</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);">
								<img class="w-100" src="assets/img/about.png">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h4 class="title">SunShet</h4>
							<p>Sứ mệnh của SunShet® là Cổ vũ cho thế hệ trẻ toàn thế giới tự do thể hiện phong cách thông qua thời trang, thương hiệu vượt qua ranh giới của thời trang đường phố bằng cách không ngừng sáng tạo các trang phục trong các bộ sưu tập độc đáo. Levents® mong muốn đồng hành và tôn vinh thế hệ trẻ tài năng qua những xu hướng thời trang và hoạt động cộng đồng sáng tạo.
							 Từ đó tạo dấu ấn cho giá trị bền vững để cùng các tài năng trẻ phát triển.</p>
							
							<a class="btn-theme" href="javascript:(0);">read more</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		
	</main>
</body>
</html>